<div ng-controller="VideoCtrl as Video" class="btn-group pull-right" style="padding-bottom:10px;padding-top:10px">
                    <label style="font-weight:100" class="btn-sm btn-default ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="video.set" uib-btn-radio="'1'" uncheckable="" ng-click="Video.setVideo(0)">
                     Video 1 </label>
                    <label style="font-weight:100" class="btn-sm btn-default ng-pristine ng-untouched ng-valid ng-not-empty active" ng-model="video.set" uib-btn-radio="'2'" uncheckable="" ng-click="Video.setVideo(1)">
                    Video 2
                    </label> 
                   
                    </div> 