<div class="row col-lg-12 animated fadeInRight">

        
    <div id="navigation_main"  ng-controller="FullNavigationCtrl as FullNavigation">
          
          <video poster="" id="bgvid" playsinline autoplay muted loop></video>
          <button type="button" ui-sref="index.website_1" class="btn  btn-menu  "><i class="fa fa-desktop"></i>   <span class="nav-label">WebSite</span></button>
        <button type="button" ui-sref="index.video_gallery_1" class="btn   btn-menu  "><i class="fa fa-film"></i> <span class="nav-label">Video</span</button>
        <button type="button" ui-sref="index.slides_1" class="btn   btn-menu  "><i class="fa fa-files-o"></i> <span class="nav-label">Slides</span></button>
        <button type="button" ui-sref="index.catalog_1" class="btn  btn-menu  "><i class="fa fa-book"></i> <span class="nav-label">Catalog</span</button>
        <button type="button" ui-sref="index.menu_1" class="btn   btn-menu  "><i class="fa fa-cutlery"></i> <span class="nav-label">Restaurant Menu</span></button>
   
       
 
    </div>
 </div>